{{#bs-modal
  class="showtime-modal"
  title=dialogTitle
  size=null
  fade=false
  open=displayForm
  onShow=(action "setupForm")
  onHide=(action (mut displayForm) false)
  as |modal|
}}
  {{#modal.header}}
    <h4 class="modal-title">{{dialogTitle}}</h4>
  {{/modal.header}}
  {{#modal.body}}

    {{#bs-form onSubmit=(action "saveShow" this) as |form|}}
      <div class="form-group">
        <label for="show-modal-name">Name:</label>
        {{input id="show-modal-name" class="form-control" type="text" value=name autofocus=true}}
        <p class="help-block">The name of the show.</p>
      </div>

      <div class="form-group {{if slotLengthErrorMessage 'has-error'}}">
        <label for="show-modal-slot-length">Slot Length:</label>
        <div class="input-group">
          {{input id="show-modal-slot-length"
                  class="form-control"
                  type="text" value=inputSlotLength placeholder="Length"
                  id="show-modal-length"
          }}
          <span id="formatted-slot-length-display" class="input-group-addon">{{format-length slotLength.duration}}</span>
        </div>
        {{#if slotLengthErrorMessage}}
          <div>
            <div id="show-model-slot-length-input-error-message" class="alert alert-danger text-center" role="alert">
              {{slotLengthErrorMessage}}
            </div>
          </div>
        {{/if}}
        <p class="help-block">
          The length of the time slot the show will play in. For example: 1 hour, 30 minutes.
          <br>This field is not required. If provided, an over/under difference of show length
          versus slot length is given on the show page.
        </p>
      </div>

      <div class="form-group {{if startTimeErrorMessage 'has-error'}}">
        <label for="show-modal-startTime">Start time:</label>
        {{input id="show-modal-startTime" class="form-control" type="text" value=startTime placeholder="Start time"}}
        {{#if startTimeErrorMessage}}
          <div>
            <div id="show-model-slot-length-input-error-message" class="alert alert-danger text-center" role="alert">
              {{startTimeErrorMessage}}
            </div>
          </div>
        {{/if}}
        <p class="help-block">
          The time the show starts. For example: 8pm, 8:30am.
          <br>If blank or 0, the show start time is set to 00:00:00.
        </p>
      </div>
    {{/bs-form}}

  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
    {{#bs-button type="primary" onClick=(action modal.submit) disabled=isSubmitButtonDisabled}}{{submitButtonText}}{{/bs-button}}
  {{/modal.footer}}

{{/bs-modal}}
