<!-- app/templates/shows/index.hbs -->

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead"><strong>Shows</strong></span>
    </div>

    <table class="table show-table">
      <tbody>
      {{#each showList as |show|}}
        <tr>
          <td>{{#link-to 'shows.show' show}}{{show.name}}{{/link-to}}</td>
          <td>{{format-length show.showLength}}</td>
          <td>{{show.startTime}}</td>
          <td>
            <div class="btn-toolbar">
              <div class="btn-group">
                <button class="btn btn-primary btn-xs" {{action (action (mut showToDelete) show)}}>Remove</button>
              </div>
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

    <div class="panel-footer">
      {{#bs-button type="primary" size="xs" onClick=(action "openShowForm" null)}}Create show{{/bs-button}}
    </div>
  </div>
</div>

{{#bs-modal-simple
  class="showtime-modal"
  title="Please confirm"
  closeTitle="Cancel"
  submitTitle="Delete"
  size=null
  fade=false
  open=showToDelete
  onSubmit=(action "deleteShow" showToDelete)
  onHide=(action (mut showToDelete) null)
}}
  <p>You're about to delete the following show and all of it's show elements:</p>
  <p class="text-center"><strong><em>{{showToDelete.name}}</em></strong></p>
  <p>Are you sure?</p>
{{/bs-modal-simple}}

{{#bs-modal
  class="showtime-modal"
  title="Add/Edit Show"
  size=null
  fade=false
  open=displayShowForm
  onShow=(action "populateShowForm" form)
  onHide=(action (mut displayShowForm) false)
  as |modal|
}}
  {{#modal.header}}
    <h4 class="modal-title">Create/Edit show</h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#bs-form onSubmit=(action "saveShow" this) as |form|}}
      <label for="input-show-name">Name:</label>
      {{input id="input-show-name" class="form-control" type="text" value=inputNameValue autofocus=true}}

      <div class="form-group">
        <label for="input-show-length">Length:</label>
        <div class="input-group">
          {{input id="input-show-length" class="form-control" type="text" value=inputLength placeholder="Length" id="element-length-input"}}
          <span id="formatted-length-display" class="input-group-addon">{{format-length length}}</span>
        </div>
      </div>

      <label for="input-show-startTime">Start time:</label>
      {{input id="input-show-startTime" class="form-control" type="text" value=startTime}}
    {{/bs-form}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
    {{#bs-button type="primary" onClick=(action modal.submit)}}{{showFormButtonText}}{{/bs-button}}
  {{/modal.footer}}

{{/bs-modal}}
