<!-- app/templates/shows/index.hbs -->

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead"><strong>Shows</strong></span>
    </div>

    <table class="table show-table">
      <tbody>
      {{#each showList as |show|}}
        <tr>
          <td>{{#link-to 'shows.show' show}}{{show.name}}{{/link-to}}</td>
          <td>{{format-length show.showLength}}</td>
          <td>{{show.startTime}}</td>
          <td>
            <div class="btn-toolbar">
              <div class="btn-group">
                <button class="btn btn-primary btn-xs" {{action (action (mut showToDelete) show)}}>Remove</button>
              </div>
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

    <div class="panel-footer">
      {{#bs-button type="primary" size="xs" onClick=(action (mut displayShowForm) true)}}Create show{{/bs-button}}
      {{upload-show store=this.store}}
    </div>
  </div>
</div>

{{#bs-modal-simple
  class="showtime-modal"
  title="Please confirm"
  closeTitle="Cancel"
  submitTitle="Delete"
  size=null
  fade=false
  open=showToDelete
  onSubmit=(action "deleteShow" showToDelete)
  onHide=(action (mut showToDelete) null)
}}
  <p class="lead">You're about to delete the following show and all of it's show elements:</p>
  <p class="text-center lead"><strong><em>{{showToDelete.name}}</em></strong></p>
  <p class="lead">Are you sure?</p>
{{/bs-modal-simple}}

{{show-edit-create-modal displayForm=displayShowForm show=null controller=this}}
