<!-- app/templates/shows/index.hbs -->

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead"><strong>Shows</strong></span>
    </div>

    <table class="table show-table">
      <tbody>
      {{#each showList as |show|}}
        <tr>
          <td>{{#link-to 'shows.show' show}}{{show.name}}{{/link-to}}</td>
          <td><button class="btn btn-primary btn-xs pull-right" {{action (action (mut showToDelete) show)}}>Remove</button></td>
        </tr>
      {{/each}}
      </tbody>
    </table>

    <div class="panel-footer">
      <form class="form-inline" {{action "addShow" this on="submit"}}>
        <label>New show:</label>
        {{input class="form-control" type="text" value=name}}
        <button type="submit" class="btn btn-primary btn-sm" disabled={{isAddShowDisabled}}>Add</button>
      </form>
    </div>
  </div>
</div>

{{#bs-modal-simple
  class="showtime-modal"
  title="Please confirm"
  closeTitle="Cancel"
  submitTitle="Delete"
  size=null
  fade=false
  open=showToDelete
  onSubmit=(action "deleteShow" showToDelete)
  onHide=(action (mut showToDelete) null)
}}
  <p>You're about to delete the following show and all of it's show elements:</p>
  <p class="text-center"><strong><em>{{showToDelete.name}}</em></strong></p>
  <p>Are you sure?</p>
{{/bs-modal-simple}}
