<!-- app/shows/show.hbs -->

<div class="row">
  {{#link-to 'shows'}}Back to Show List{{/link-to}}
</div>

<div class="row">
  <h1>{{model.name}}</h1>
</div>

<div class="row">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div><strong>Running Time:</strong> {{format-length totalTime}}</div>
    </div>

    <table class="table">
      {{#sortable-group tagName="tbody" model=model onChange="reorderElements" as |group|}}
        {{#each model.elements as |element|}}
          {{#sortable-item tagName="tr" model=element group=group handle=".handle"}}
            <td class="handle"><div class="draganddrop"></div></td>
            <td>{{element.name}}</td>
            <td>{{format-length element.length}}</td>
            <td>
              <div class="btn-toolbar pull-right">
                <div class="btn-group" role="group" aria-label="Edit group">
                  <button class="btn btn-primary btn-xs" {{action (action (mut elementToEdit) element)}}>Edit</button>
                </div>
                <div class="btn-group" role="group" aria-label="Delete group">
                  <button class="btn btn-primary btn-xs" {{action (action (mut elementToDelete) element)}}>Remove</button>
                </div>
              </div>
            </td>
          {{/sortable-item}}
        {{else}}
          <tr><td>Enter a show element to get started.</td></tr>
        {{/each}}
      {{/sortable-group}}
    </table>

    <div class="panel-footer">
      <form class="form-inline" {{action "addElement" this on="submit"}}>
        <label>New element:</label>
        {{input class="form-control" type="text" value=name placeholder="Name" id="element-name-input"}}
        {{input class="form-control" type="text" value=inputLength placeholder="Length"}}
        {{format-length length}}
        <button type="submit" class="btn btn-primary btn-sm" disabled={{isAddElementDisabled}} >Add</button>
      </form>
    </div>

  </div>

  <div class="row">
    <button class="btn btn-primary" {{action "saveAsText"}} >Save as text</button>
  </div>

</div>

{{#bs-modal-simple
    class="showtime-modal"
    title=elementToEdit.name
    closeTitle="Cancel"
    submitTitle="Save"
    size=null
    fade=false
    open=elementToEdit
    onShow=(action "setupEdit" elementToEdit)
    onSubmit=(action "saveElement" elementToEdit editInputName editLength)
    onHide=(action (mut elementToEdit) null)
}}
  <form class="form-inline" {{action "saveElement" elementToEdit editInputName editLength on="submit"}}>
    {{input class="form-control" type="text" value=editInputName placeholder="Name" id="element-name-edit"}}
    {{input class="form-control" type="text" value=editInputLength placeholder="Length"}}
    {{format-length editLength}}
  </form>
{{/bs-modal-simple}}

{{#bs-modal-simple
  class="showtime-modal"
  title="Please confirm"
  closeTitle="Cancel"
  submitTitle="Delete"
  size=null
  fade=false
  open=elementToDelete
  onSubmit=(action "deleteElement" elementToDelete)
  onHide=(action (mut elementToDelete) null)
}}
  <p>
    You're about to delete:
    <strong><em>{{elementToDelete.name}} ({{format-length elementToDelete.length}})</em></strong>
  </p>
  <p>Are you sure?</p>
{{/bs-modal-simple}}
